:root {
    --primary-text-colore: #212121;
    --background-colore: #E5E5E5;
    --white-colore: #FFFFFF;
    --accent-colore: #2196F3;
    --light-text-colore: #757575;
    --backgroud-light-colore: #F5F4FA;
    --logo-dark-colore: #000000;
    --portfolio-background-colore: #EEEEEE;
    --header-line-colore: #ECECEC;}
html {box-sizing: border-box;}
*,
*::before,
*::after {box-sizing: inherit;}
body {font-family: 'Roboto', sans-serif;
    background-color: var(--background-colore);
    color: var(--primary-text-colore);
    letter-spacing: 0.03em;}
header {border-bottom: 1px solid var(--header-line-colore);
    background-color: var(--white-colore);}
header .container {display: flex;
    align-items: center;}
.list {padding: 0;
    margin: 0;
    list-style: none;}
.main-nav {display: flex;
    margin-right: auto;
    align-items: center;}
.container {margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;}
.logo {margin-right: 93px;
    color: var(--accent-colore);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;}
.logo-dark {color: var(--logo-dark-colore);}
.site-nav {margin-right: auto;
    display: flex;
    align-items: center;}
.site-nav .item + .item {margin-left: 35px;}
.site-nav a {color: var(--primary-text-colore);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding: 32px 0;}
.site-nav a:hover , .site-nav a:focus {color: var(--accent-colore);}
.site-nav .current {color: var(--accent-colore);}
.contacts {display: flex;}
.contacts .item + .item {margin-left: 50px;}
.contacts a {color: var(--light-text-colore);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;}
.contacts a:hover, .contacts a:focus {color: var(--accent-colore);}
section {
    padding-top: 94px;
    padding-bottom: 94px;}
.hero {
    background-color: var(--primary-text-colore);}
.hero .container {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.hero .slogan {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 90px;
    text-align: center;
    color: var(--white-colore);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;}
.button {background-color: var(--backgroud-light-colore);
    font-family: inherit;
    font-size: 16px;
    align-items: center;
    text-align: center;
    display: flex;
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;}
.button.primary {margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 10px 32px;
    color: var(--white-colore);
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-colore);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);}
.features {background-color: var(--white-colore);}
.portfolio-title, .features-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features.list {
    display: flex;
    margin: 0;
}
.features.list .item + .item {
    margin-left: 30px;
}
.features.list h3 {margin-top: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;}
.features.list p {margin: 0;
    color: var(--light-text-colore);
    font-size: 14px;
    line-height: 1.5;}
.services {background-color:var(--white-colore);}
section.services {
    padding-top: 0;
}
.services.list {
    justify-content: space-between;
    display: flex;
    }
.services.list .item + .item {margin-left: 30px;}
.services img {display: block;
    height: auto;
    max-width: 100%}
.section-title {margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;}
.team {
    background-color: var(--backgroud-light-colore);
}
.team.list {justify-content: space-between;
    text-align: center;
    display: flex;}
.team.list .item {background-color: var(--white-colore);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;}
.team.list .item + .item {margin-left: 30px;}
.team .leads {padding-top: 30px;
    padding-bottom: 30px;}
.team img {
    display: block;
    height: auto;
    max-width: 100%;
}
.team h3 {margin-top: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;}
.team p {
    margin-top: 0;
    color: var(--light-text-colore);
    line-height: 1.19;
    text-align: center;
}
.portfolio {
    background-color: var(--white-colore);
}
.base.button,.current.button {padding: 6px 22px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;}
.portfolio.list {justify-content: center;
    margin-bottom: 50px;
    display: flex;}
.portfolio.list .item + .item {margin-left: 8px;}
.portfolio.list button:hover, .portfolio.list button:focus {color: var(--white-colore);
    background-color: var(--accent-colore)}
.current.button {
    color: var(--white-colore);
    background-color: var(--accent-colore);
}
.projects.list {
    justify-content: end;
    display: flex; 
    flex-wrap: wrap;
}
.projects.list .item {
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--white-colore);
}
.projects.list .item:nth-child(3n) {
    margin-right: 0;
}
.projects.list .item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
/* .projects.list .item:not(:nth-child(3n)) {margin-right: 24px;}
.projects.list .item:not(:nth-last-child(-n+3)) {margin-bottom: 24px;} */
.projects.list .info {
    border-right: 1px solid var(--portfolio-background-colore);
    border-bottom: 1px solid var(--portfolio-background-colore);
    border-left: 1px solid var(--portfolio-background-colore);
    padding: 20px 24px;
}
.projects h2 {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.projects p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--light-text-colore);
    line-height: 1.88;
}
.projects h2, .projects p {
    background-color: var(--white-colore);
}
footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--primary-text-colore);
}
.footer.logo {display: block;
    margin-bottom: 20px;
}
.logo-white {
    color: var(--white-colore);
}
.address a {
    color:var(--white-colore);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.address.list .item + .item {
    margin-top: 9px;
}
.phone a, .mail a {
    color: rgba(255, 255, 255, 0.6);
}
.address a:hover, .address a:focus {
    color: var(--accent-colore);
}